.container {
  padding: 60px;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

.search__button {
  margin: 15px;
}

.movie__table {
  margin: 5%;
  width: 80%;
  font-size: 16px;
}

td, th {
  padding: 5px;
}

.add__cell {
  padding: 0;
}

.after__table {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
}

.add {
  width: 100%;
  height: 100%;
  grid-column: 1;
}

.reset {
  width: 100%;
  height: 100%;
  grid-column: 2;
}

.demo__paginator {
  grid-column: 3;
}
