<table
    class="movie__table"
    border="1px solid black"
  >
    <tr>
      <th>Imię i nazwisko</th>
      <th>Narodowość</th>
      <th>Wiek</th>
      <th>
        <input
          matInput
          name="search"
          [(ngModel)]="search"
        >
        <button mat-stroked-button (click)="getFilteredDirectors()">
          <mat-icon>
            search
          </mat-icon>
        </button>
      </th>
    </tr>
    <tr
      *ngFor="let director of data; let i = index"
      class="data__row"
    >
      <td> {{ director.name }} </td>
      <td> {{ director.nationality }} </td>
      <td> {{ director.age }} </td>
      <td>
        <button mat-button (click)="updateClick(director.id, i)">
          <mat-icon>
            edit
          </mat-icon>
        </button>
        <button mat-button (click)="deleteClick(director.id, i)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </td>
    </tr>
    <tr class="last__row">
      <td class="add__cell">
        <button mat-button (click)="addClick()" class="add">
          <mat-icon>
            add
          </mat-icon>
        </button>
      </td>
      <td *ngIf="filtered">
        <button mat-button (click)="getClick()">
          Wyświetl wszystkich
        </button>
      </td>
    </tr>
  </table>
